* {
  font-family: 'Roboto', sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.status-column {
  width: 15rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  border-radius: 5px;
}

.card {
  min-height: 2rem;
  width: 14rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: move;
  text-align: center;
  line-height: 2rem;
  color: #727272;
  border-radius: 5px;
  border-bottom: 1px solid #727272;
  background-color: white;
}

/*.card:hover {
  background-color: rgb(204,201,192);
}*/

.add-task {
  height: 1.5rem;
  width: 14rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  line-height: 1.5rem;
  color: #727272;
  border-radius: 5px;
  border-bottom: 1px solid #727272;
  background-color: rgba(178,175,164,0.55);
  cursor: pointer;
}

.add-task:hover {
  background-color: rgb(204,201,192);
}

.heading {
  font-size: 1.4rem;
  font-weight: 700;
  color: #727272;
  height: 3rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 5px;
  background-color: rgba(178,175,164,0.55);
}

.title {
  content: url('../logo.png');
  margin: 0 auto;
}

.welcome-modal {
  background-color: rgba(76,134,57,1);
  height: 25rem;
  width: 50rem;
  border-radius: 10px;
}

.welcome-title {
  color: rgb(240,239,192);
  padding-top: 2rem;
  padding-left: 2rem;
}

.welcome-text {
  color: rgba(76,134,57,1);
  padding: 2rem;
  font-size: 1.4rem;
}

.welcome-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.koala-pic {
  padding-left: 2rem;
  content: url('../koalacartoon.png');
}

.links {
  float: right;
  padding-right: 2rem;
}

.git-link {
  content: url('../GitHub-Mark-32px.png');
  margin-right: 2rem;
}
.linked-link {
  content: url('../LinkedIn_logo.png');
}

.info-button {
  content: url('../info-256.png');
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
}
.info-button:hover {
  content: url('../info-256_invert.png');
}

.lite-bg {
  background-color: rgb(185,218,123);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.adding-tasks {
  height: 6rem;
  width: 14rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  color: #727272;
  border-radius: 5px;
  border-bottom: 1px solid #727272;
  background-color: white;
}
.add-task-input {
  width: 13.5rem;
  height: 3.5rem;
  background-color: white;
  border: none;
  font-size: 1rem;
  color: #727272;
}

.add-task-input:focus {
  outline: none;
}

.add-task-buttons {
  float: left;
}

.add-button {
  height: 1.7rem;
  width: 3.5rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: rgb(134,190,86);
  color: white;
}

.add-button:focus {
  outline: none;
}

.x-button {
  color: red;
  border: none;
  height: 1.7rem;
  width: 1.7rem;
  background-color: white;
  font-size: 1.1rem;
}

.x-button:focus {
  outline: none;
}
